html, body {
  font-family: monospace;
  height: 100%;
}
#input {
  min-height: 4em;
}

#input, #output {
  white-space: pre;
  display: block;
  float: left;
  width: 45%;
}
#error {
  clear: both;
  display: block;
  color: red;
}
